name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 6 * * *"}]
  # Lines below let you run workflow manually and on each commit (optional)
  workflow_dispatch:
  push: {branches: ["main"]}

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - name: achievements
        uses: lowlighter/metrics@65836723097537a54cd8eb90f61839426b4266b6
        with:
          filename: achievements.svg
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.GITHUB_TOKEN }}
          user: BarbUk
          base: achievements
          plugin_achievements: yes
          plugin_achievements_threshold: B      # Display achievements with rank B or higher
          plugin_achievements_secrets: yes      # Display unlocked secrets achievements
          plugin_achievements_display: compact  # Use compact display
          plugin_achievements_limit: 0          # Display all unlocked achievements (no limit)

      - name: header
        uses: lowlighter/metrics@65836723097537a54cd8eb90f61839426b4266b6
        with:
          filename: header.svg
          # You'll need to setup a personal token in your secrets.
          token: ${{ secrets.METRICS_TOKEN }}
          # GITHUB_TOKEN is a special auto-generated token used for commits
          committer_token: ${{ secrets.GITHUB_TOKEN }}

          # Options
          user: BarbUk
          template: classic
          base: header
          config_timezone: ${{ secrets.USER_TIMEZONE }}

      - name: lines-of-code
        uses: lowlighter/metrics@65836723097537a54cd8eb90f61839426b4266b6
        with:
          filename: lines-of-code.svg
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.GITHUB_TOKEN }}
          base: "repositories"
          plugin_lines: yes

      - name: acti_comm
        uses: lowlighter/metrics@65836723097537a54cd8eb90f61839426b4266b6
        with:
          filename: acti_comm.svg
          # You'll need to setup a personal token in your secrets.
          token: ${{ secrets.METRICS_TOKEN }}
          # GITHUB_TOKEN is a special auto-generated token used for commits
          committer_token: ${{ secrets.GITHUB_TOKEN }}

          # Options
          user: BarbUk
          template: classic
          base: activity, community
          config_timezone: ${{ secrets.USER_TIMEZONE }}

      - name: iso_calender
        uses: lowlighter/metrics@65836723097537a54cd8eb90f61839426b4266b6
        with:
          filename: iso_calender.svg
          # You'll need to setup a personal token in your secrets.
          token: ${{ secrets.METRICS_TOKEN }}
          # GITHUB_TOKEN is a special auto-generated token used for commits
          committer_token: ${{ secrets.GITHUB_TOKEN }}

          # Options
          user: BarbUk
          template: classic
          base: ""
          config_timezone: ${{ secrets.USER_TIMEZONE }}
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

      - name: metrics.plugin.stars
        uses: lowlighter/metrics@65836723097537a54cd8eb90f61839426b4266b6
        with:
          filename: metrics.plugin.stars.svg
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.GITHUB_TOKEN }}
          config_timezone: ${{ secrets.USER_TIMEZONE }} # Set timezone
          user: BarbUk
          base: ""
          template: classic
          plugin_stars: yes
          plugin_stars_limit: 5

      - name: issue_pr_lang
        uses: lowlighter/metrics@65836723097537a54cd8eb90f61839426b4266b6
        with:
          filename: issue_pr_lang.svg
          # You'll need to setup a personal token in your secrets.
          token: ${{ secrets.METRICS_TOKEN }}
          # GITHUB_TOKEN is a special auto-generated token used for commits
          committer_token: ${{ secrets.GITHUB_TOKEN }}

          # Options
          user: BarbUk
          template: classic
          base: ""
          config_timezone: ${{ secrets.USER_TIMEZONE }}
          plugin_followup: yes
          plugin_languages: yes

      - name: repositories
        uses: lowlighter/metrics@65836723097537a54cd8eb90f61839426b4266b6
        with:
          filename: repositories.svg
          # You'll need to setup a personal token in your secrets.
          token: ${{ secrets.METRICS_TOKEN }}
          # GITHUB_TOKEN is a special auto-generated token used for commits
          committer_token: ${{ secrets.GITHUB_TOKEN }}

          # Options
          user: BarbUk
          template: classic
          base: repositories
          config_timezone: ${{ secrets.USER_TIMEZONE }}

      - name: github-habits
        uses: lowlighter/metrics@65836723097537a54cd8eb90f61839426b4266b6
        with:
          filename: github-habits.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: no
          config_timezone: Europe/Paris
